*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
nav{
    padding: 20px;
    margin: 0;
    text-align: center;
    background-color: gray;
}

main{
    padding: 0 10%;
}

main > h1, main > h3{
    text-align: center;
}

ol{
    list-style: none;
    text-align: center;
}

li{
    background-color: aquamarine;
    padding: 20px ;
    margin: 15px 250px;

}

footer{
    padding: 20px;
    margin: 0;
    text-align: center;
    background-color: gray;
}